In [21]:
import pandas as pd

dados = pd.read_csv('../1_bases_tratadas/base.csv')
dados.rename(columns={'quant_celular': 'Quantidade de celulares registrados por BO'}, inplace=True)
dados.rename(columns={'marca_celular': 'Marcas dos celulares'}, inplace=True)

In [3]:
dados

,Unnamed: 0,ano_bo,num_bo,numero_boletim,bo_iniciado,bo_emitido,dataocorrencia,horaocorrencia,peridoocorrencia,datacomunicacao,...,placa_veiculo,uf_veiculo,cidade_veiculo,descr_cor_veiculo,descr_marca_veiculo,ano_fabricacao,ano_modelo,descr_tipo_veiculo,Quantidade de celulares registrados por BO,Marcas dos celulares
0,0,2022,2044873,2044873/2022,01/12/2022 07:23,01/12/2022 07:23,25/11/2022,Sem registro,A TARDE,30/11/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola
1,1,2022,2045916,2045916/2022,01/12/2022 10:11,01/12/2022 10:11,25/11/2022,Sem registro,PELA MANHÃ,01/12/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola
2,2,2022,310,310/2022,01/12/2022 10:31,01/12/2022 10:31,23/09/2022,Sem registro,EM HORA INCERTA,01/12/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Asus
3,3,2022,2046087,2046087/2022,01/12/2022 10:31,01/12/2022 10:31,30/11/2022,Sem registro,A TARDE,01/12/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Samsung
4,4,2022,217632,217632/2022,01/12/2022 12:08,01/12/2022 12:08,28/11/2022,17:00,A TARDE,28/11/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Apple
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,883,2023,7426,7426/2023,31/12/2022 17:07,31/12/2022 17:07,24/12/2022,Sem registro,PELA MANHÃ,30/12/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola
884,884,2023,1843,1843/2023,31/12/2022 17:46,31/12/2022 17:46,30/12/2022,22:20,A NOITE,31/12/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Samsung
885,885,2023,8072,8072/2023,31/12/2022 20:36,31/12/2022 20:36,30/12/2022,Sem registro,PELA MANHÃ,30/12/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Samsung
886,886,2023,8346,8346/2023,31/12/2022 22:27,31/12/2022 22:27,30/12/2022,Sem registro,A TARDE,30/12/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola
887,887,2023,8404,8404/2023,31/12/2022 22:51,31/12/2022 22:51,29/12/2022,Sem registro,A NOITE,30/12/2022,...,Sem registro,Sem registro,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola

In [22]:
auxiliar = dados.groupby(['peridoocorrencia'])['peridoocorrencia'].agg(['count'])
auxiliar

                  count
peridoocorrencia
A NOITE             200
A TARDE             267
DE MADRUGADA        122
EM HORA INCERTA      30
PELA MANHÃ          269

In [23]:
auxiliar= auxiliar.reset_index().rename(columns={'count':'qtdperiodo'})
auxiliar

  peridoocorrencia  qtdperiodo
0          A NOITE         200
1          A TARDE         267
2     DE MADRUGADA         122
3  EM HORA INCERTA          30
4       PELA MANHÃ         269

In [24]:
dados = pd.merge(dados, auxiliar, how='left', on='peridoocorrencia')
dados

,Unnamed: 0.1,Unnamed: 0,ano_bo,num_bo,numero_boletim,bo_iniciado,bo_emitido,dataocorrencia,horaocorrencia,peridoocorrencia,...,descr_marca_veiculo,ano_fabricacao,ano_modelo,descr_tipo_veiculo,Quantidade de celulares registrados por BO,Marcas dos celulares,qtdmarcas,qtdcidades,qtdsolucao,qtdperiodo
0,0,0,2022,2044873,2044873/2022,01/12/2022 07:23,01/12/2022 07:23,25/11/2022,Sem registro,A TARDE,...,Sem registro,0,0,Sem registro,1,Motorola,223,26,376,267
1,1,1,2022,2045916,2045916/2022,01/12/2022 10:11,01/12/2022 10:11,25/11/2022,Sem registro,PELA MANHÃ,...,Sem registro,0,0,Sem registro,1,Motorola,223,442,376,269
2,2,2,2022,310,310/2022,01/12/2022 10:31,01/12/2022 10:31,23/09/2022,Sem registro,EM HORA INCERTA,...,Sem registro,0,0,Sem registro,1,Asus,3,108,141,30
3,3,3,2022,2046087,2046087/2022,01/12/2022 10:31,01/12/2022 10:31,30/11/2022,Sem registro,A TARDE,...,Sem registro,0,0,Sem registro,1,Samsung,362,108,376,267
4,4,4,2022,217632,217632/2022,01/12/2022 12:08,01/12/2022 12:08,28/11/2022,17:00,A TARDE,...,Sem registro,0,0,Sem registro,1,Apple,151,442,141,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,883,883,2023,7426,7426/2023,31/12/2022 17:07,31/12/2022 17:07,24/12/2022,Sem registro,PELA MANHÃ,...,Sem registro,0,0,Sem registro,1,Motorola,223,12,376,269
884,884,884,2023,1843,1843/2023,31/12/2022 17:46,31/12/2022 17:46,30/12/2022,22:20,A NOITE,...,Sem registro,0,0,Sem registro,1,Samsung,362,108,84,200
885,885,885,2023,8072,8072/2023,31/12/2022 20:36,31/12/2022 20:36,30/12/2022,Sem registro,PELA MANHÃ,...,Sem registro,0,0,Sem registro,1,Samsung,362,442,376,269
886,886,886,2023,8346,8346/2023,31/12/2022 22:27,31/12/2022 22:27,30/12/2022,Sem registro,A TARDE,...,Sem registro,0,0,Sem registro,1,Motorola,223,442,376,267
887,887,887,2023,8404,8404/2023,31/12/2022 22:51,31/12/2022 22:51,29/12/2022,Sem registro,A NOITE,...,Sem registro,0,0,Sem registro,1,Motorola,223,108,376,200

In [7]:
# replicar os passos acima para a variável cidade
auxiliar2 = dados.groupby(['cidade'])['cidade'].agg(['count'])
auxiliar2

                       count
cidade
AGUAS DE LINDOIA           1
AMPARO                     8
ATIBAIA                   25
BOM JESUS DOS PERDOES      2
BRAGANCA PAULISTA         26
CABREUVA                  12
CAIEIRAS                   1
CAMPINAS                 442
CAMPO LIMPO PAULISTA      29
ESTIVA GERBI               1
HORTOLANDIA                1
INDAIATUBA                38
ITAPIRA                    5
ITATIBA                   12
ITUPEVA                   12
JAGUARIUNA                12
JARINU                     3
JOANOPOLIS                 2
JUNDIAI                  108
LINDOIA                    1
LOUVEIRA                   7
MOGI GUACU                17
MOGI MIRIM                 9
MONTE ALEGRE DO SUL        1
NAZARE PAULISTA            2
PAULINIA                  26
PEDRA BELA                 1
PEDREIRA                   4
PIRACAIA                   4
S.ANTONIO DE POSSE         3
S.GERTRUDES                1
SERRA NEGRA                4
TUIUTI                     1
VALINHOS                  35
VARGEM                     1
VARZEA PAULISTA           11
VINHEDO                   20

In [8]:
auxiliar2 = auxiliar2.reset_index().rename(columns={'count':'qtdcidades'})
auxiliar2

                   cidade  qtdcidades
0        AGUAS DE LINDOIA           1
1                  AMPARO           8
2                 ATIBAIA          25
3   BOM JESUS DOS PERDOES           2
4       BRAGANCA PAULISTA          26
5                CABREUVA          12
6                CAIEIRAS           1
7                CAMPINAS         442
8    CAMPO LIMPO PAULISTA          29
9            ESTIVA GERBI           1
10            HORTOLANDIA           1
11             INDAIATUBA          38
12                ITAPIRA           5
13                ITATIBA          12
14                ITUPEVA          12
15             JAGUARIUNA          12
16                 JARINU           3
17             JOANOPOLIS           2
18                JUNDIAI         108
19                LINDOIA           1
20               LOUVEIRA           7
21             MOGI GUACU          17
22             MOGI MIRIM           9
23    MONTE ALEGRE DO SUL           1
24        NAZARE PAULISTA           2
25               PAULINIA          26
26             PEDRA BELA           1
27               PEDREIRA           4
28               PIRACAIA           4
29     S.ANTONIO DE POSSE           3
30            S.GERTRUDES           1
31            SERRA NEGRA           4
32                 TUIUTI           1
33               VALINHOS          35
34                 VARGEM           1
35        VARZEA PAULISTA          11
36                VINHEDO          20

In [9]:
dados.columns

Index(['Unnamed: 0', 'ano_bo', 'num_bo', 'numero_boletim', 'bo_iniciado',
       'bo_emitido', 'dataocorrencia', 'horaocorrencia', 'peridoocorrencia',
       'datacomunicacao', 'dataelaboracao', 'bo_autoria', 'flagrante',
       'numero_boletim_principal', 'logradouro', 'numero', 'bairro', 'cidade',
       'uf', 'latitude', 'longitude', 'descricaolocal', 'exame', 'solucao',
       'delegacia_nome', 'delegacia_circunscricao', 'especie', 'rubrica',
       'desdobramento', 'status', 'tipopessoa', 'vitimafatal', 'naturalidade',
       'nacionalidade', 'sexo', 'datanascimento', 'idade', 'estadocivil',
       'profissao', 'grauinstrucao', 'corcutis', 'naturezavinculada',
       'tipovinculo', 'relacionamento', 'parentesco', 'placa_veiculo',
       'uf_veiculo', 'cidade_veiculo', 'descr_cor_veiculo',
       'descr_marca_veiculo', 'ano_fabricacao', 'ano_modelo',
       'descr_tipo_veiculo', 'Quantidade de celulares registrados por BO',
       'Marcas dos celulares', 'qtdmarcas'],
      dtype='object')

In [10]:
dados.

SyntaxError: invalid syntax (133817988.py, line 1)

In [11]:
auxiliar3 = dados.groupby(['solucao'])['solucao'].agg(['count'])
auxiliar3

                                count
solucao
APRECIAÇÃO DO DELEGADO TITULAR    272
BO PARA FLAGRANTE                  11
BO PARA INQUÉRITO                   4
BO PARA INVESTIGAÇÃO              376
BO PARA REGISTRO                  141
ENCAMINHAMENTO DP ÁREA DO FATO     84

In [12]:
auxiliar3 = auxiliar3.reset_index().rename(columns={'count':'qtdsolucao'})

In [13]:
dados = pd.merge(dados, auxiliar2, how='left', on='cidade')
dados

,Unnamed: 0,ano_bo,num_bo,numero_boletim,bo_iniciado,bo_emitido,dataocorrencia,horaocorrencia,peridoocorrencia,datacomunicacao,...,cidade_veiculo,descr_cor_veiculo,descr_marca_veiculo,ano_fabricacao,ano_modelo,descr_tipo_veiculo,Quantidade de celulares registrados por BO,Marcas dos celulares,qtdmarcas,qtdcidades
0,0,2022,2044873,2044873/2022,01/12/2022 07:23,01/12/2022 07:23,25/11/2022,Sem registro,A TARDE,30/11/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,26
1,1,2022,2045916,2045916/2022,01/12/2022 10:11,01/12/2022 10:11,25/11/2022,Sem registro,PELA MANHÃ,01/12/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,442
2,2,2022,310,310/2022,01/12/2022 10:31,01/12/2022 10:31,23/09/2022,Sem registro,EM HORA INCERTA,01/12/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Asus,3,108
3,3,2022,2046087,2046087/2022,01/12/2022 10:31,01/12/2022 10:31,30/11/2022,Sem registro,A TARDE,01/12/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,108
4,4,2022,217632,217632/2022,01/12/2022 12:08,01/12/2022 12:08,28/11/2022,17:00,A TARDE,28/11/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Apple,151,442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,883,2023,7426,7426/2023,31/12/2022 17:07,31/12/2022 17:07,24/12/2022,Sem registro,PELA MANHÃ,30/12/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,12
884,884,2023,1843,1843/2023,31/12/2022 17:46,31/12/2022 17:46,30/12/2022,22:20,A NOITE,31/12/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,108
885,885,2023,8072,8072/2023,31/12/2022 20:36,31/12/2022 20:36,30/12/2022,Sem registro,PELA MANHÃ,30/12/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,442
886,886,2023,8346,8346/2023,31/12/2022 22:27,31/12/2022 22:27,30/12/2022,Sem registro,A TARDE,30/12/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,442
887,887,2023,8404,8404/2023,31/12/2022 22:51,31/12/2022 22:51,29/12/2022,Sem registro,A NOITE,30/12/2022,...,Sem registro,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,108

In [14]:
dados = pd.merge(dados, auxiliar3, how='left', on='solucao')
dados

,Unnamed: 0,ano_bo,num_bo,numero_boletim,bo_iniciado,bo_emitido,dataocorrencia,horaocorrencia,peridoocorrencia,datacomunicacao,...,descr_cor_veiculo,descr_marca_veiculo,ano_fabricacao,ano_modelo,descr_tipo_veiculo,Quantidade de celulares registrados por BO,Marcas dos celulares,qtdmarcas,qtdcidades,qtdsolucao
0,0,2022,2044873,2044873/2022,01/12/2022 07:23,01/12/2022 07:23,25/11/2022,Sem registro,A TARDE,30/11/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,26,376
1,1,2022,2045916,2045916/2022,01/12/2022 10:11,01/12/2022 10:11,25/11/2022,Sem registro,PELA MANHÃ,01/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,442,376
2,2,2022,310,310/2022,01/12/2022 10:31,01/12/2022 10:31,23/09/2022,Sem registro,EM HORA INCERTA,01/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Asus,3,108,141
3,3,2022,2046087,2046087/2022,01/12/2022 10:31,01/12/2022 10:31,30/11/2022,Sem registro,A TARDE,01/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,108,376
4,4,2022,217632,217632/2022,01/12/2022 12:08,01/12/2022 12:08,28/11/2022,17:00,A TARDE,28/11/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Apple,151,442,141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,883,2023,7426,7426/2023,31/12/2022 17:07,31/12/2022 17:07,24/12/2022,Sem registro,PELA MANHÃ,30/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,12,376
884,884,2023,1843,1843/2023,31/12/2022 17:46,31/12/2022 17:46,30/12/2022,22:20,A NOITE,31/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,108,84
885,885,2023,8072,8072/2023,31/12/2022 20:36,31/12/2022 20:36,30/12/2022,Sem registro,PELA MANHÃ,30/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,442,376
886,886,2023,8346,8346/2023,31/12/2022 22:27,31/12/2022 22:27,30/12/2022,Sem registro,A TARDE,30/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,442,376
887,887,2023,8404,8404/2023,31/12/2022 22:51,31/12/2022 22:51,29/12/2022,Sem registro,A NOITE,30/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,108,376

In [15]:
dados

,Unnamed: 0,ano_bo,num_bo,numero_boletim,bo_iniciado,bo_emitido,dataocorrencia,horaocorrencia,peridoocorrencia,datacomunicacao,...,descr_cor_veiculo,descr_marca_veiculo,ano_fabricacao,ano_modelo,descr_tipo_veiculo,Quantidade de celulares registrados por BO,Marcas dos celulares,qtdmarcas,qtdcidades,qtdsolucao
0,0,2022,2044873,2044873/2022,01/12/2022 07:23,01/12/2022 07:23,25/11/2022,Sem registro,A TARDE,30/11/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,26,376
1,1,2022,2045916,2045916/2022,01/12/2022 10:11,01/12/2022 10:11,25/11/2022,Sem registro,PELA MANHÃ,01/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,442,376
2,2,2022,310,310/2022,01/12/2022 10:31,01/12/2022 10:31,23/09/2022,Sem registro,EM HORA INCERTA,01/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Asus,3,108,141
3,3,2022,2046087,2046087/2022,01/12/2022 10:31,01/12/2022 10:31,30/11/2022,Sem registro,A TARDE,01/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,108,376
4,4,2022,217632,217632/2022,01/12/2022 12:08,01/12/2022 12:08,28/11/2022,17:00,A TARDE,28/11/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Apple,151,442,141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,883,2023,7426,7426/2023,31/12/2022 17:07,31/12/2022 17:07,24/12/2022,Sem registro,PELA MANHÃ,30/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,12,376
884,884,2023,1843,1843/2023,31/12/2022 17:46,31/12/2022 17:46,30/12/2022,22:20,A NOITE,31/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,108,84
885,885,2023,8072,8072/2023,31/12/2022 20:36,31/12/2022 20:36,30/12/2022,Sem registro,PELA MANHÃ,30/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Samsung,362,442,376
886,886,2023,8346,8346/2023,31/12/2022 22:27,31/12/2022 22:27,30/12/2022,Sem registro,A TARDE,30/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,442,376
887,887,2023,8404,8404/2023,31/12/2022 22:51,31/12/2022 22:51,29/12/2022,Sem registro,A NOITE,30/12/2022,...,Sem registro,Sem registro,0,0,Sem registro,1,Motorola,223,108,376

In [25]:
dados.to_csv('../1_bases_tratadas/base.csv')

In [18]:
dados.columns

Index(['Unnamed: 0', 'ano_bo', 'num_bo', 'numero_boletim', 'bo_iniciado',
       'bo_emitido', 'dataocorrencia', 'horaocorrencia', 'peridoocorrencia',
       'datacomunicacao', 'dataelaboracao', 'bo_autoria', 'flagrante',
       'numero_boletim_principal', 'logradouro', 'numero', 'bairro', 'cidade',
       'uf', 'latitude', 'longitude', 'descricaolocal', 'exame', 'solucao',
       'delegacia_nome', 'delegacia_circunscricao', 'especie', 'rubrica',
       'desdobramento', 'status', 'tipopessoa', 'vitimafatal', 'naturalidade',
       'nacionalidade', 'sexo', 'datanascimento', 'idade', 'estadocivil',
       'profissao', 'grauinstrucao', 'corcutis', 'naturezavinculada',
       'tipovinculo', 'relacionamento', 'parentesco', 'placa_veiculo',
       'uf_veiculo', 'cidade_veiculo', 'descr_cor_veiculo',
       'descr_marca_veiculo', 'ano_fabricacao', 'ano_modelo',
       'descr_tipo_veiculo', 'Quantidade de celulares registrados por BO',
       'Marcas dos celulares', 'qtdmarcas', 'qtdcidades', 'qtdsolucao'],
      dtype='object')

In [ ]:
import streamlit as st
import pandas as pd
from datetime import date 
import plotly.express as px

st.title('Furtos de celular em campinhas')

st.sidebar.header('Filtros')

dados = pd.read_csv('../1_bases_tratadas/base.csv')
dados.rename(columns={'quant_celular': 'Quantidade de celulares registrados por BO'}, inplace=True)
dados.rename(columns={'marca_celular': 'Marcas dos celulares'}, inplace=True)


lista_opcoes = ['Univariado', 'Bivariado']
escolha_tipo_analise = st.sidebar.selectbox('Escolha o tipo de analise', lista_opcoes)

if escolha_tipo_analise == 'Bivariado':
    fig = px.bar(data_frame=dados, x='Marcas dos celulares', y='Quantidade de celulares registrados por BO')
    st.plotly_chart(fig)
    st.markdown('Com a quantidade de celulares registrados nos BO´s, concluímos que a maioria foram da Samsung, seguido da motorola e outras marcas')
 

else:
    
    
    dadosesc = fig = px.pie(dados, names='solucao', values='qtdsolucao', title='Gráfico de Pizza')
    st.plotly_chart(fig)
    
    dadosesc2 = fig = px.pie(dados, names='peridoocorrencia', values='qtdperiodo', title='Gráfico de Pizza')
    st.plotly_chart(fig)